---
// Appointment Meta section component extracted from index.astro
---

<section class="appointment-meta-section section-spacing-bottom">
  <div class="w-layout-blockcontainer container w-container">
    <h1>Nach der Behandlung</h1>
    <div class="w-layout-grid grid-contact-meta">
      <div
        data-w-id="93281f74-f697-708a-66a0-b08c64608ab5"
        style="opacity:0"
        class="contact-meta-item bg-linear-2">
        <div class="contact-meta-rounded bg-white">
          <img
            src="images/call.svg"
            loading="eager"
            alt=""
            class="contact-meta-icon"
          />
        </div>
        <h2 class="heading-h6 text-white">I am just a call away</h2>
        <a href="tel:(91)125879786" class="dark-contact-meta-link"
          >(91) 125 879 786</a
        >
      </div>
      <div
        data-w-id="93281f74-f697-708a-66a0-b08c64608abc"
        style="opacity:0"
        class="contact-meta-item bg-linear-2">
        <div class="contact-meta-rounded bg-primary-1">
          <img
            src="images/envelope-01.svg"
            loading="eager"
            alt=""
            class="contact-meta-icon"
          />
        </div>
        <h2 class="heading-h6">Email me anytime</h2>
        <a href="mailto:example@gmail.com" class="contact-meta-link"
          >example@gmail.com</a
        >
      </div>
      <div
        data-w-id="f58dbfc1-cf86-618d-7b1b-fc173e67ea54"
        style="opacity:0"
        class="contact-meta-item bg-primary-2">
        <div class="contact-meta-rounded bg-white">
          <img
            src="images/location-02.svg"
            loading="eager"
            alt=""
            class="contact-meta-icon"
          />
        </div>
        <h2 class="heading-h6 text-white">Where did you find me?</h2>
        <div class="contact-meta-text">
          544 Honey Creek Rd., West Des Moines, IA 50265
        </div>
      </div>
      <div
        data-w-id="7e97d733-a683-3d73-da0e-e64ddd9ffdf7"
        style="opacity:0"
        class="contact-meta-item bg-primary-2">
        <div class="contact-meta-rounded bg-white">
          <img
            src="images/location-02.svg"
            loading="eager"
            alt=""
            class="contact-meta-icon"
          />
        </div>
        <h2 class="heading-h6 text-white">Where did you find me?</h2>
        <div class="contact-meta-text">
          544 Honey Creek Rd., West Des Moines, IA 50265
        </div>
      </div>
    </div>
  </div>
</section>

