---
// CTA section component extracted from index.astro
---

<section class="cta-section">
  <div class="w-layout-blockcontainer container-full w-container">
    <div
      data-w-id="b2faae19-6536-15c4-bf35-56ef814f9b02"
      style="opacity:0"
      class="cta-wrapper">
      <div class="cta-wrap">
        <h2 class="cta-title">Nach der Behandlung</h2>
        <div class="cta-meta-wrap">
          <div class="cta-meta-item">
            <div class="cta-meta-rounded">
              <img
                src="images/location-01.svg"
                loading="lazy"
                alt=""
                class="cta-meta-icon"
              />
            </div>
            <div class="cta-meta-text-wrap">
              <div class="cta-meta-text">Address</div>
              <div class="cta-meta-address">
                544 Honey Creek Rd., West Des Moines, IA 50265
              </div>
            </div>
          </div>
          <div class="cta-meta-item">
            <div class="cta-meta-rounded">
              <img
                src="images/call-02.svg"
                loading="lazy"
                alt=""
                class="cta-meta-icon"
              />
            </div>
            <div class="cta-meta-text-wrap">
              <div class="cta-meta-text">Contact no</div>
              <div class="cta-meta-link-wrap">
                <a href="tel:(91)125879786" class="cta-meta-link"
                  >(91) 125 879 786</a
                >
                <a href="tel:(91)578666333" class="cta-meta-link"
                  >(91) 578 666 333</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-w-id="e8503875-0a51-c555-857a-2037413cb55e"
        class="cta-image-wrap">
        <div class="cta-image-overlay"></div>
      </div>
    </div>
  </div>
</section>

